@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.visible {
    animation: slideIn 0.8s ease forwards;
}

h1, h2, button {
    opacity: 0;
    transform: translateY(-30px);
}
